/* promo.css */
.scrollable-container {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
}

.wrapper {
  gap: 10px;
  display: inline-block; /* Ini memungkinkan konten berjajar secara horizontal */
}

.item {
  display: inline-block;
  width: 200px; /* Sesuaikan lebar kotak sesuai kebutuhan Anda */
  height: 200px; /* Sesuaikan tinggi kotak sesuai kebutuhan Anda */
  margin-right: 10px; /* Jarak antara kotak */
  background-color: rgb(134, 136, 236);
  border-radius: 10px;
  width: 500px;
}
